<footer class="footer bg-dark py-3 mt-auto" >
    <!-- py,bg,etc are from bootstrap py means padding -->
    <div class="container">
        <span class="text-muted" >&copy; Yelp Camp 2022</span>
    </div>
</footer>